/* You can add global styles to this file, and also import other style files */
.link-button {
    background: none;
    border: none;
    padding: 0;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
